@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import '../../sass/index.scss';

:root {
    --text-color: #AFAFD0;
    --orange-color: #FFB116;
    --white-color: #E9E9F7;
    --blue-color: #0080FF;
    --main-color: #24245C;
    --bg-color: #141439;
    --border-color: #585879;
    --font-family:  Montserrat, sans-serif;
    --transition-500: all 500ms ease;
    --nav-height: 7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    background: var(--bg-color) url('../../assets/images/bg_texture.png');
}

a {
    text-decoration: none;
    color: unset;
}

ul, li {
    list-style: none;
}

section {
    width: 80%;
    margin-inline: auto;

}

footer {
    background-color: var(--blue-color);
    margin-top: 10rem;

}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}
