@import '../../sass/mixins';

.cardUser {
    // background-color: var(--main-color);
    // padding: 4rem;
    // text-align: start;
    // border-top-right-radius: 5rem;
    // border-bottom-left-radius: 5rem;
    // border: 2px solid transparent;
    // transition: var(--transition-500);
    // position: relative;
    // color: var(--text-color);


    // &:hover {
    //     background-color: transparent;
    //     border-color: var(--border-color);
    // }

    @include cardStyle(start);
    padding: 4rem;
    color: var(--text-color);

    .avatar {
        width: 6rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        
        img {
            border-radius: 1rem;
            transition: var(--transition-500);
            border: 2px solid var(--main-color);
        }
    }

    &:hover .avatar {
        img{
            border-radius: 50%;
        }

    }

    .info {
        margin: 2.6rem 0;
    }
    
    .name, .job {
        font-size: 1.3rem;
    }

    .name {
        color: var(--white-color);
        margin-bottom: 1rem;
    }

}


