.question {
    padding: 2.5rem;
    background-color: var(--main-color);
   color: var(--white-color);
   border-radius: 1rem;
   cursor: pointer;
   .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .question {
            padding: 0;
            text-align: left;
        }

        .btn {
            background-color: transparent;
            border: none;
            color: var(--white-color);
            font-size: 1.6rem;
            cursor: pointer;
            margin-left: 1rem;
        }

   }
   .answer {
        color: var(--text-color);
        margin-top: 2rem;
        line-height: 1.7;
   }
}