@import '../../sass/mixins';

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 4rem;
    margin: 6rem 0;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    @include mobile {
        grid-template-columns: 1fr;
        gap: 4rem 0;
    }
}
